* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_title-title {
    color: rgb(255, 255, 255);
    padding: 260px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
}

.header_title-subtitle {
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 55px;
    letter-spacing: 6.82px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
}

input {
    width: 500px;
    height: 60px;
    border: solid rgb(255, 255, 255);
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2.8px;
}

.header_title-button {
    width: 150px;
    height: 60px;
    background: #5474FD;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
}

.header_title-button:hover {
    background: #044b84;
    fill: #044b84;;
}

.button:hover {
    background: #044b84;
}
.scroll-title:hover {
    color: #5474fd;
}
.header_title-button img {
    margin: 0px 10px 0px 16px;
    text-align: center;
}

form {
    display: flex;
    width: 654px;
    height: 64px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 2px 2px;
}

.scroll-title {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 122px 0px 16px 0px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.scroll-down {
    text-align: center;
    padding-bottom: 135px;
}

.header_menu {
    height: 80px;
    background: #5474fd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: rgb(255, 255, 255) ;
    list-style-type: none;
    margin-left: 330px;
}

.header_menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 330px;
}

.header_menu-list_item {
    text-transform: uppercase;
    color: #ffffff ; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 21px 0px 21px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #044b84;
    text-decoration: none;
}

.second_section {
    background: url(images/second-section.jpg) no-repeat;
    background-size: cover;
}

.second_section-title {
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    padding: 0px 0px 67px 0px;
    color: #ffffff;
}

.second_section-text,
.second_section-text_second {
    width: 530px;
    letter-spacing: 1.6px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.second_section-text_second {
    padding-top: 38px;
    padding-bottom: 49px;
}

.second_section-info {
    width: 530px;
    height: fit-content;
    padding: 190px 0px 0px 330px;
    margin-bottom: 133px;
}

.button {
    text-transform: uppercase;
    height: 61px;
    width: 225px;
    background: #5474FD;
    border: none;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.2px;
    justify-content: center;
    color: #ffffff;
}

.second_section-main {
    display: flex;
    justify-content: space-between;
}

.second_section-img{
    display: flex;
    flex-direction: column;
    width: 475px;
    margin-right: 330px;
}

.second_section-img1 {
    width: 350px;
    height: 220px;
    margin-bottom: 5px;
    margin-top: 120px;
}

.second_section-img2 {
    width: 350px;
    height: 220px;
    margin-left: 170px;
}

.second_section-bottom {
    height: 337px;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second_section-bottom ul {
    display: flex;
}

.second_section-bottom_img {
    width: 57px;
    height: 57px;
    margin-bottom: 30px;
}

.second_section-bottom_title {
    color: #E8E8E8;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
}

.second_section-bottom_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.third_section {
    height: 700px;
    background: url(images/third-section.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.third_section_articl {
    height: 370px;
    width: 540px;
    background: rgba(35, 35, 35, 0.9);
    position: absolute;
    top: 231px;
    left: 200px;
}

.fourth_section_articl {
    height: 370px;
    width: 540px;
    background: rgba(35, 35, 35, 0.9);
    position: absolute;
    top: 231px;
    right: 200px;
}


article span {
    letter-spacing: 1.5px;
    color: #E8E8E8;
    padding-bottom: 30px;
    display: block;
}

article h2 {
    text-transform: uppercase;
    color: #E8E8E8;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 30px;
}

article p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    padding-bottom: 50px;
}

.third_section_articl-content {
    padding: 50px 30px;
}

.fourth_section {
    background: url(images/fourth-section.jpg) no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}

.fourth_section_articl-content {
    padding: 50px 30px;
}

.fifth_section {
    background: url(images/fifth-section.jpg) no-repeat;
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .fifth_section_articl-content {
    width: 665px;
    height: 284px;
    background: #333333;
    justify-content: center;
    padding: 50px 60px 50px 60px;
 }

.fifth_section_articl-content span {
    text-transform: uppercase;
    color: #FEFEFE;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 35px;
    display: block;
}

.fifth_section_articl-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
}

.fifth_section_articl-content p i {
    width: 25px;
    height: 20px;
    color:#5474FD;
}

.fifth_section-title {
    padding-bottom: 100px;
    text-align: center;
    color: #FFFFFF;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
}

.fifth_section_articl {
    display: flex;
    justify-content: center;
}

.fifth_section_articl img {
    width: 445px;
}

footer {
    height: 268px;
    background: #232323;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h2 {
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 19px;
    padding-top: 50px;
}

footer span {
    letter-spacing: 1.6px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.social {
    width: 300px;
    height: 28px;
}

.social_icon {

    width: 20px;
    height: 20px;
    margin: 0px 9px;
}

.social_icon-blue {
    width: 20px;
    height: 20px;
    margin: 0px 9px;
}

footer .social {
    display: block;
    margin: 30px auto;
}

.social_icon-blue:hover {
    background:#ffffff;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.social_icon:hover {
  background:#044b84;
  width: 35px;
  height: 35px;
  border-radius: 50% 20px;
  padding: 5px;
}

.youtube:hover {
    background:#8a0b0b;
    width: 35px;
    height: 35px;
    border-radius: 50% 20px;
    padding: 5px;
}

.pinterest:hover {
    background:#8a0b0b;
    width: 35px;
    height: 35px;
    border-radius: 50% 20px;
    padding: 5px;
}

/* ADAPTIIVE MENU */

.mobile_header-menu {
    display: none;
}

.menu_burger-label {
    font-size: 24px!important;
    text-transform: uppercase;
}

.menu {
    width: 100%;
    background-color: #5474FD;
    position: relative;
    color: white;
    text-align: start;
    height: 40px;
    font-family: 'Arial';
}

#check-menu {
    display: none;
}

label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
}

.second, .third {
    top: 18px;
}

.fourth {
    top: 28px;
}

.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.main-menu a {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: #5474FD;
}

.main-menu a:hover {
    background-color: #232323;
}

#check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first {
    display: none;
}

#check-menu:checked ~ .second {
    transform: rotate(45deg);
}

#check-menu:checked ~ .third {
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
    display: none;
}

/* END */


@media screen and (max-width: 1688px) {
    .second_section-img {
        margin-right: 210px;
    }
    .second_section-info {
        margin-left: 210px;
        padding-left: 0px;
    }
    .second_section-img2 {
        margin: 0px;
    }
}

@media screen and (max-width: 1550px) {
    .fifth_section {
        height: auto;
        padding: 50px 0px;
    }
    .fifth_section_articl {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .fifth_section_articl-content {
        width: auto;
        height: auto;
    }
    .fifth_section_articl-content {
        width: 445px;
    }
}

@media screen and (max-width: 1484px) {
    .second_section-main {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        padding: 50px 0px;
    }
    .second_section-info {
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    .second_section-img2 {
        margin: 0px;
        padding: 20px 0px 0px 30px;
    }
    .second_section-img1 {
        margin: 0px;
        padding: 20px 30px 0px 0px;
    }
    .second_section-img {
        margin: 0px;
        padding: 20px 0px 0px 0px;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .header_menu-title {
        margin-left: 5%;
    }
    .header_menu-list {
        margin-right: 5%;
    }
}

@media screen and (max-width: 1230px) {
    .second_section-bottom_title {
        font-size: x-large;
    }
}

@media screen and (max-width: 1024px) {
    .second_section-bottom_title {
        font-size: medium;
    }
}

@media screen and (max-width: 900px) {
    .second_section-bottom li{
        margin: 0px;
        width: 100%;
        padding-top: 30px;
    }
    .second_section-bottom ul {
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    .second_section-bottom_title {
        font-size: xx-large;
    }

    .second_section-bottom {
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    .header_menu-title {
        font-size: large;
    }
    .header_menu-list_item {
        font-size: x-small;
    }
    .third_section_articl {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .fourth_section_articl{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .second_section-img {
        flex-wrap: wrap;
    }
    .second_section-img2 {
        margin: 0px;
        padding: 0px;
    }
    .second_section-img1 {
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
    }
    .form_search {
        width: 70%;
    }
    .second_section-bottom_title {
        font-size: medium;
    }
    .second_section-bottom_img {
        width: 37px;
        height: 37px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .mobile_header-menu {
        display: block;
    }
    .header_menu {
        display: none;
    }
}

@media screen and (max-width: 515px) {
    .second_section-bottom_title {
        font-size: medium;
    }
}

@media screen and (max-width: 658px) {
    .header_text-button {
        display: none;
    }
    .header_title-button {
        width: 20%;
        position: relative;
    }
    .header_title-button img{
        margin: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .form_search input::-webkit-input-placeholder {
        visibility: hidden;
    }
    .form_search::-moz-placeholder {
        visibility: hidden;
    }
    .form_search:-moz-placeholder {
        visibility: hidden;
    }
    .form_search:-ms-input-placeholder {
        visibility: hidden;
    }
}

@media screen and (max-width: 570px) {
    .second_section-info {
        width: 100%;
    }
    .second_section-text {
        width: 100%;
        padding: 0px 20px;
    }
    .second_section-text_second {
        width: 100%;
        padding: 38px 20px 49px 20px;
    }
    .fourth_section_articl {
        min-height: 450px;
    }
    .third_section_articl {
        min-height: 450px;
    }
}

@media screen and (max-width: 450px) {
 .fifth_section_articl img {
     width: 80%;
 }
 .fifth_section_articl-content {
     width: 80%;
 }
}

@media screen and (max-width: 400px) {
    .second_section-img2 {
        height: 100%;
        width: 230px;
    }
    .second_section-img1 {
        height: 100%;
        width: 230px;
    }
    .second_section-info_button {
        width: 30%;
        font-size: xx-small;
    }
    .header_title-title {
        font-size: xx-large;
    }
    .header_title-subtitle {
        font-size: small;
    }
    .fourth_section-button {
        width: 50%;
    }
    .third_section-button {
        width: 50%;
    }
}

@media screen and (max-width: 374px) {
    .fourth_section_articl {
        min-height: 500px;
    }
    .third_section_articl {
        min-height: 500px;
    }
    .fourth_section-button {
        font-size: small;
    }
    .third_section-button {
        font-size: small;
    }
}